<!DOCTYPE html>

{% block body_block %}

<link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">

<form class="form-signin" role="form" method="post" action=".">
{% csrf_token %}

<h2 class="form-signin-heading">Пожалуйста войдите</h2>
<input class="form-control" placeholder="Логин" id="id_username" maxlength="254" name="username" type="text" required autofocus=""/>
<input type="password" class="form-control" placeholder="Пароль" id="id_password" name="password"  required />

       
        <input type="submit" class="btn btn-success" value="Войдите"/>
        </form>

{% endblock %}
